<!DOCTYPE html>
<html lang="en">

<head>
      {% if title %}
      <title>{{ title }} - Internet Shop Application</title>
      {% else %}
      <title>Internet Shop</title>
      {% endif %}
</head>
<body>
<div>Internet  shop:&nbsp;&nbsp;&nbsp;
            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/editProfile">Go back</a>&nbsp;&nbsp;&nbsp;
        </div>
        <hr>
<form action="/passwordChangeRequest" method = "POST">
     <h1>Provide new password</h1>
     <label>Old password:</label><br>
     <input type = "password" name = "oldpass" required autofocus maxlength="30"/><br>
     <label>New password:</label><br>
     <input type = "password" name = "newpass" required maxlength="30"/><br>
     <label>New password confirmation:</label><br>
     <input type = "password" name = "newpassconfirm" required maxlength="30"/><br>
     <p><input type = "submit" value = "Submit" /></p>
</form>

 <footer class="footer">
        <p>&copy; Bazy Danych - Projekt 2021</p>
        </footer>
</body>

</html>